@import url('https://fonts.cdnfonts.com/css/valorant');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

body {
    margin: 0;
    display: flex;
    flex-grow: 2;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-size: cover;
    backdrop-filter: blur(8px) brightness(0.8);
    background-repeat: no-repeat;

    overflow: hidden;
}

#image {
    max-width: 100vw;
    max-height: 100vh;
    box-shadow: 0 0 100px black;
}

#image::selection {
    filter: none
}

#warning-phone {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.425);
    box-shadow: 0 0 200px black;
    width: max-content;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}



#guess {
    position: absolute;
    right: 10px;
    bottom: 10px;

    display: flex;
    flex-direction: column;
}

#map {
    width: 500px;
    height: 500px;
    border-radius: 15px;
    background-color: rgba(228, 228, 228, 0.096);
}

#guess button {
    border-radius: 15px;
    height: 30px;
    margin-top: 5px;
    border-style: none;
}

#guess button:disabled {
    color: black;
}

#marker {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: red;
    border-radius: 50%;

    right: -20px;
    bottom: -20px;
}

@media screen and (max-width: 600px) {
    #warning-phone {
        display: block;
        max-width: 100vw;
    }
    #game {
        display: none !important;
    }
    body {
        background-image: none !important;
        background: red;
        backdrop-filter: none;
    }  
    #result, #score{
        display: none !important;
        
    }
}

#score {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    display: none;
}

#score #container {
    width: 70%;
    height: 70%;
    background-color: rgb(201, 201, 201);
    border-radius: 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#score #show-score {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}
#show-score #rounds {
    width: 100px;
}

#solution-map {
    width: 500px;
    height: 500px;
    border-radius: 15px;
    box-shadow: 0 0 25px #00000080;
}

svg {
    position: absolute;
}

#rounds {
    font-family: "Kanit", sans-serif;
    font-size: larger;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    text-align: center;
    padding: 10px;
    background-color: #696969;
    border-radius: 10px;
    box-shadow: inset -2px -2px 10px #000000a0;
    color: white;
    
}

#score #nav {
    height: 80px;
    width: 100%;
    background-color: rgb(29, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 19px;
}

#nav > #buttons > :first-child {
    width: 250px;
    height: 50px;
    background-color: rgb(24, 141, 24);
    color: white;
}
#nav > #buttons > *:last-child {
    width: 50px;
    height: 50px;
}
#nav > #buttons > * {
    border-radius: 25px;
    border: none;
    padding: 0;
    line-height: 50px;
    margin-left: 10px;
    font-weight: bolder;
    font-size: large;
}

#nav > #total-points, #nav > #current-round {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Kanit", sans-serif;
}

#nav h1 {
    color: white;
    height: 40px;
    line-height: 40px;
    text-shadow: 4px 4px 4px #ff000040;
    font-size: 40px;
}

#nav p {
    height: 18px;
    line-height: 18px;
    color: #a3a3a3;
}

#nav #max, #nav #c-max {
    font-size: small;
    font-weight: 700;
    color: #a3a3a34d;
}

#nav p, #nav h1 {
    margin: 0;
}

#solution {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgb(70, 70, 70);
    border-radius: 50%;
}

#solution>i {
    color: white;
    padding: 2px 4.3px;
    font-size: smaller;
}

#answer {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: lime;
    border-radius: 50%;
    box-shadow: 2px 2px 5px black;
}

#answer, #solution {
    right: -20px;
    bottom: -20px;
}

#connection {
    position: absolute;
}

button {
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

button > i {
    width: 50px;
    height: 50px;
    line-height: 50px;
}

#score #buttons > button:hover {
    transform: scale(1.05, 1.05);
}

#timer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
    display: inline-block;
    background-color: #630000;
    padding: 4px 20px;
    color: white;
    width: 45px;
    font-size: x-large;
    font-weight: bold;
    font-family: "kanit", sans-serif;
    border-radius: 10px;
    text-align: center;
    box-shadow: inset -2px -2px 11px #00000099;
}

/* results */

#result {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    display: none;
}

#result #res-container {
    width: 70%;
    height: 70%;
    background-color: rgb(201, 201, 201);
    border-radius: 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#result #show-result {
    flex-grow: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#result-map {
    width: 500px;
    height: 500px;
    border-radius: 15px;
    box-shadow: 0 0 25px #00000080;
}

#result #nav-res {
    height: 80px;
    width: 100%;
    background-color: rgb(29, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 19px;
}



#nav-res > #results {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Kanit", sans-serif;
}

#results h1 {
    color: white;
    height: 40px;
    line-height: 40px;
    text-shadow: 4px 4px 4px #ff000040;
    font-size: 40px;
}

#results p {
    height: 18px;
    line-height: 18px;
    color: #a3a3a3;
}

#results #total-max {
    font-size: small;
    font-weight: 700;
    color: #a3a3a34d;
}

#results p, #results h1 {
    margin: 0;
}

.solution {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgb(70, 70, 70);
    border-radius: 50%;
}

.solution>i {
    color: white;
    padding: 2px 4.3px;
    font-size: smaller;
}

.answer {
    position: absolute;
    background-color: lime;
    border-radius: 50%;
    box-shadow: 2px 2px 5px black;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-weight: bolder;
}

#res-connection {
    position: absolute;
}

#result button {
    cursor: pointer;
    transition: all 0.1s ease-in-out;

    width: 250px;
    height: 50px;
    border: none;
    border-radius: 25px;
    line-height: 50px;
    font-weight: bolder;
    font-size: large;
}

#retry-btn {
    background-color: rgb(24, 141, 24);
    color: white;
}

#exit-btn {
    background-color: #585858;
    color: white;
}

#result button:hover {
    transform: scale(1.05, 1.05);
}

/* random results */

.random-result {
    width: 500px;
    height: 500px;
}

.random-results-container {
    flex-wrap: wrap;
}

#maps_select {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 20% 0;
}

#maps_select > input[type="radio"] {
    appearance: none;
    cursor: pointer;
    width: 7vw;
    text-align: center;
    
}

#maps_select > input[type="radio"]::before {
    content: attr(value);
    font-family: "valorant";
}
#maps_select > input[type="radio"]:checked::before {
    font-size: large;
    font-weight: bold;
}

.secret {
    display: none;
}