body {
  background-image: url(https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/bltbded518020183769/5eb26f5389bac8148a8006cc/agent-background-generic.JPG);
  background-size: cover;
  font-weight: bold;
  color: white;
  font-family: valorant;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #400000;
    background: -webkit-radial-gradient(bottom right, #400000, #010101);
    background: -moz-radial-gradient(bottom right, #400000, #010101);
    background: radial-gradient(to top left, #400000, #010101);
    height: 100vh;
}
input[name="difficulty"] {
  appearance: none;
}
input[name="difficulty"]:before {
  content: attr(label);
  display: inline-block;
  text-align: center;
  width: 100%;
}
#time {
  appearance: none;
  width: 300px;
  height: 5px;
  background-color: black;
}
#time::-webkit-slider-thumb {
  appearance: none;
  background-color: gray;
  border-radius: 50%;
  height: 15px;
  width: 15px;
}
#time::-webkit-slider-thumb:hover {
  background-color: lightgray;
}


#timer {
  font-size: 35px;
  text-align: center;
  margin-top: 80px;
}
#continue {
  width: 350px;
  margin-top: 50px;
}
#options {
  background-color: aliceblue;
}
input[name="difficulty"]:checked{
  background-color:lightgrey ;
}
