@import url('https://fonts.cdnfonts.com/css/valorant');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
    user-select: none;
}

body {
    font-family: "valorant";
    scroll-behavior: smooth;
    /* Created with https://www.css-gradient.com */
    background: #400000;
    background: -webkit-radial-gradient(bottom right, #400000, #010101);
    background: -moz-radial-gradient(bottom right, #400000, #010101);
    background: radial-gradient(to top left, #400000, #010101);
    height: 100vh;
    overflow: hidden;
}

#header {
    margin-top: 50px;
}

#header>div {
    background-color: #40010166;
    display: inline-block;
    width: 65px;
    height: 40px;
    transform: skew(-12deg);
    border-radius: 5px;
    box-shadow: 0 0 10px #00000080;
    margin-left: 5vw;
}

#header > :first-child {
    cursor: pointer;
}

#header>div>i {
    display: inline-block;
    font-size: 33px;
    text-align: center;
    width: 65px;
    height: 40px;
    line-height: 40px;
    transform: skew(12deg);
    color: #620000;
    text-shadow: 4px 4px 6px #00000080;
}

#title {
    text-align: center;
    color: #fa4454;
    font-size: 50px;
    text-shadow: 15px 15px 17px #000000b3;
}

#grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin: 130px auto;
    width: 60%;
}

#grid>button {
    border: none;
    border-radius: 20px;
    line-height: 100px;
    text-align: center;
    background-size: cover;
    box-shadow: 3px 3px 10px #00000033;
}

#random {
    grid-column: 1 / 4;
    grid-row: 1;
    background-image: url(https://www.pinnacle.com/Cms_Data/Contents/Guest/Media/esports2017/Article-Images/Valorant/2020-What-is-Valorant/Esports-What-is-Valorant-Temp-Hero.jpg);
    color: white;
    font-size: 40px;
    font-weight: 800;
}

#map-1 {
    grid-column: 1;
    grid-row: 2;
    background-image: url(/sources/Logo/Ascent.png);
    color: white;
    font-size: 40px;
    font-weight: 800;
}

#map-2 {
    grid-column: 2;
    grid-row: 2;
    background-image: url(/sources/Logo/Bind.png);
    color: white;
    font-size: 40px;
    font-weight: 800;
}

#map-3 {
    grid-column: 3;
    grid-row: 2;
    background-image: url(/sources/Logo/Breeze.png);
    color: white;
    font-size: 40px;
    font-weight: 800;
}

#map-4 {
    grid-column: 1;
    grid-row: 3;
    background-image: url(/sources/Logo/Fracture.png);
    color: white;
    font-size: 40px;
    font-weight: 800;
}

#map-5 {
    grid-column: 2;
    grid-row: 3;
    background-image: url(/sources/Logo/Haven.png);
    color: white;
    font-size: 40px;
    font-weight: 800;
}

#map-6 {
    grid-column: 3;
    grid-row: 3;
    background-image: url(/sources/Logo/Icebox.png);
    color: white;
    font-size: 40px;
    font-weight: 800;
}

#map-7 {
    grid-column: 1;
    grid-row: 4;
    background-image: url(/sources/Logo/Lotus.png);
    color: white;
    font-size: 40px;
    font-weight: 800;
}

#map-8 {
    grid-column: 2;
    grid-row: 4;
    background-image: url(/sources/Logo/Pearl.png);
    color: white;
    font-size: 40px;
    font-weight: 800;
}

#map-9 {
    grid-column: 3;
    grid-row: 4;
    background-image: url(/sources/Logo/Split.png);
    color: white;
    font-size: 40px;
    font-weight: 800;
}

#user-input {
    display: none;
    position: absolute;
    height: 60%;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(128, 128, 128, 0.9);
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
}

#user-input {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    z-index: 4;
}

#map-name{
    color: #dc1d2b !important;
    text-align: center;
    margin-top: 2;
}

#maps{
    position: relative;
}
img{
    position: absolute;
    width: 100vw;
    top: -8vw;
    cursor: pointer;
}
body{
    margin: 0;
    overflow-x: hidden;
}
img:hover{
    z-index: 1;
    transform: scale(1.2);
}

#maps #Random:hover{
    left: 10vw;
}
#maps #Ascent:hover{
    left: 7vw;
}
#maps #Bind:hover{
    left: 5vw;
}
#maps #Breeze:hover{
    left: 3vw;
}
#maps #Icebox:hover{
    right: 3vw;
}
#maps #Lotus:hover{
    right: 5vw;
}
#maps #Pearl:hover{
    right: 7vw;
}
#maps #Split:hover{
    right: 10vw;
}

#menu {
    z-index: 3;
    /* display: none; */
    display: flex;
    text-align: center;
    justify-content: center;
    position: absolute;
    left: -15%;
    top: 0;
    height: 100vh;
    padding-left: 15%;
    transition: all 0.2s ease-in-out;

    background-color: rgba(65, 0, 0, 0.99);
    width: 720px;

    transform: skew(-10deg);
}

#menu.closed {
    left: -100vw
}

#menu-items {
    display: flex;
    flex-direction: column;
    transform: skew(10deg);
    height: 100%;
    justify-content: end;
    padding-right: 20%;
    padding-top: 20%;
    text-align: center;
}

#submit {
    flex-grow: 2;
    font-size: xx-large;
}

#submit > a {
    color: white;
    text-decoration: none;
}

#cover {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    display: none;
    background-color: #00000001;
    border: none;
}

#close {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 10;
    font-size: xx-large;

    line-height: 24px;
    color: white;
    cursor: pointer;
    display: none;
}

#name {
    display: inline-block;
    margin: 0;
    font-family: "Share Tech Mono", monospace;
    font-weight: bold;
    color: white
}

#change-name {
    display: inline-block;
    border: none;
    background: none;
    color: grey;
}
.wip{
    pointer-events: none;
    filter: grayscale(100%) blur(5px);
}