@import url('https://fonts.cdnfonts.com/css/valorant');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
    user-select: none;
}

body {
    font-family: "valorant";
    scroll-behavior: smooth;
    /* Created with https://www.css-gradient.com */
    background: #400000;
    background: -webkit-radial-gradient(bottom right, #400000, #010101);
    background: -moz-radial-gradient(bottom right, #400000, #010101);
    background: radial-gradient(to top left, #400000, #010101);
    height: 100vh;
    overflow: hidden;
}

#header {
    margin-top: 50px;
}

#header>div {
    background-color: #40010166;
    display: inline-block;
    width: 65px;
    height: 40px;
    transform: skew(-12deg);
    border-radius: 5px;
    box-shadow: 0 0 10px #00000080;
    margin-left: 5vw;
}

#header > :first-child {
    cursor: pointer;
}

#header>div>i {
    display: inline-block;
    font-size: 33px;
    text-align: center;
    width: 65px;
    height: 40px;
    line-height: 40px;
    transform: skew(12deg);
    color: #620000;
    text-shadow: 4px 4px 6px #00000080;
}

#title {
    text-align: center;
    color: #690000;
    font-size: 50px;
    text-shadow: 15px 15px 17px #000000b3;
}

#user-input {
    display: none;
    position: absolute;
    height: 60%;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(128, 128, 128, 0.9);
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
}

#user-input {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    z-index: 4;
}

#map-name{
    color: #dc1d2b !important;
    text-align: center;
    margin-top: 2;
}

#maps{
    position: relative;
}
img{
    position: absolute;
    width: 100vw;
    top: -8vw;
    cursor: pointer;
}
body{
    margin: 0;
    overflow-x: hidden;
}
img:hover{
    z-index: 1;
    transform: scale(1.2);
}

#maps #Random:hover{
    left: 10vw;
}
#maps #Ascent:hover{
    left: 7vw;
}
#maps #Bind:hover{
    left: 5vw;
}
#maps #Breeze:hover{
    left: 3vw;
}
#maps #Icebox:hover{
    right: 3vw;
}
#maps #Lotus:hover{
    right: 5vw;
}
#maps #Pearl:hover{
    right: 7vw;
}
#maps #Split:hover{
    right: 10vw;
}

#menu {
    z-index: 3;
    /* display: none; */
    display: flex;
    text-align: center;
    justify-content: center;
    position: absolute;
    left: -15%;
    top: 0;
    height: 100vh;
    padding-left: 15%;
    transition: all 0.2s ease-in-out;

    background-color: rgba(30, 0, 0, 0.9);
    backdrop-filter: blur(20px);
    width: 720px;

    transform: skew(-10deg);
}

#menu.closed {
    left: -100vw
}

#menu-items {
    display: flex;
    flex-direction: column;
    transform: skew(10deg);
    height: 100%;
    justify-content: end;
    padding-right: 20%;
    padding-top: 20%;
    text-align: center;
}

#menu-items > :not(:last-child):not(:nth-last-child(2)) {
    text-align: left;
    padding-left: 70px;
    margin-top: 40px;
    text-shadow: 2px 2px 5px #00000020;
    font-style: italic;
}

#submit {
    font-size: xx-large;
}

#leaderboard {
    flex-grow: 2;
    font-size: xx-large;
}

#leaderboard > a {
    color: white;
    text-decoration: none;
}

#submit > a {
    color: white;
    text-decoration: none;
}

#cover {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    display: none;
    background-color: #00000001;
    border: none;
}

#close {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 10;
    font-size: xx-large;

    line-height: 24px;
    color: white;
    cursor: pointer;
    display: none;
}

#name {
    display: inline-block;
    margin: 0;
    font-family: "Share Tech Mono", monospace;
    font-weight: bold;
    color: white
}

#change-name {
    display: inline-block;
    border: none;
    background: none;
    color: grey;
}
.wip{
    pointer-events: none;
    filter: grayscale(100%) blur(5px);
}
#difficulty > h1 {
    font-size: 35px;
    font-weight: bolder;
  }
  #difficulty > input {
    width: 100px;
    height: 40px;
    color: black;
  }
  input[name="difficulty"] {
    appearance: none;
  }
  input[name="difficulty"]:before {
    content: attr(label);
    display: inline-block;
    text-align: center;
    width: 100%;
  }
#lang-select{
    text-align: center;
    margin-top: 25vw;
    background-size: cover;
    list-style-type: none;
    /* display: inline; */
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}
.lang{
    user-select: none;
    background-size: cover;
    width: 100px;
    background-repeat: no-repeat;
    height: 50px;
}
#lang-select>li{
    display: inline-block;
}