@import url('https://fonts.cdnfonts.com/css/valorant');
body {
  background: #400000;
  background: -webkit-radial-gradient(bottom right, #400000, #010101);
  background: -moz-radial-gradient(bottom right, #400000, #010101);
  background: radial-gradient(to top left, #400000, #010101);
  text-align: center;
  user-select: none;
  margin: 0;
  backdrop-filter: blur(10px);
  min-height: 100vh;
  user-zoom: fixed;
  font-family: valorant;
}

#marker {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: red;
  border: 1px solid black;
  border-radius: 50%;
  top: -10px;
  left: -10px;
}

#map {
  margin-top: 50px;
  width: 500px;
  height: 500px;
  border-radius: 50px;
}

ul,
li {
  display: inline;
  list-style-type: none !important;
}
ul {
  text-align: center;
}

img {
  display: block;
  margin: auto;
}

button[type="submit"]{
  margin-top: 25px;
  width: 400px;
  font-size: 20px;
}

label{
  width: 400px;
  font-size: 20px;
}
.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;}
#success{
  user-select: text;
  position: absolute;
  background-color: white;
  font-size: 30px;
  bottom: 0px;
  text-align: center;
  border-radius: 5px;
  height: 100%;
  width: 100%;
}
#success>h1{
  margin-top: 100px;
}
#success>button{
  margin-top: 700px;
  font-size: 30px;
}
#req{
  display: none;
}
.center {
  display:flex;
  align-items:center;
  justify-content:center;
}
.form-input {
  width:350px;
  background: red;
}
.form-input img {
  background-color: red;
  padding: 20px;
  position: absolute;
  width:100%;
  display:none;
  margin-bottom:0px;
}
.form-input input {
  display:none;
}

.form-input label {
  display:block;
  width:45%;
  height:45px;
  margin-left: 25%;
  line-height:50px;
  text-align:center;
  background:red;
  color:#fff;
  font-size:15px;
  font-family:valorant;
  text-transform:Uppercase;
  font-weight:600;
  border-radius:5px;
  cursor:pointer;
}
#previewbox{
  display: none;
  width: 600px;
  height: 400px;
  text-align: center;
  border-radius: 15px;
}
#previewtext{
  font-size: 30px;
  border-radius: 20px;
  font-weight: bolder;
  color: white;
  padding: 20px;
  text-align: center;
}
input[name="difficulty"] {
  appearance: none;
}
input[name="difficulty"]:before {
  content: attr(label);
  display: inline-block;
  text-align: center;
  width: 100%;
}
#time {
  appearance: none;
  width: 300px;
  height: 5px;
  background-color: black;
}
#time::-webkit-slider-thumb {
  appearance: none;
  background-color: gray;
  border-radius: 50%;
  height: 15px;
  width: 15px;
}
#time::-webkit-slider-thumb:hover {
  background-color: lightgray;
}

#difficulty > h1 {
  font-size: 35px;
  font-weight: bolder;
}
#difficulty > input {
  width: 100px;
  height: 40px;
  color: black;
}
#timer {
  font-size: 35px;
  text-align: center;
  margin-top: 80px;
}
.continue {
  width: 350px;
  margin-top: 50px;
}
#options {
  background-color: aliceblue;
}
input[name="difficulty"]:checked{
  background-color:lightgrey ;
}
#page1{
  /* display: none; */
  font-family: valorant;
  /* background: #400000;
  background: -webkit-radial-gradient(bottom right, #400000, #010101);
  background: -moz-radial-gradient(bottom right, #400000, #010101);
  background: radial-gradient(to top left, #400000, #010101); */
  color: white;
  padding-top: 400px;
  height: 100%;
  width: 100%;
}
#page2{
  font-family: valorant;
  /* background: #400000;
  background: -webkit-radial-gradient(bottom right, #400000, #010101);
  background: -moz-radial-gradient(bottom right, #400000, #010101);
  background: radial-gradient(to top left, #400000, #010101); */
  color: white;
  padding-top: 450px;
  height: 100%;
  width: 100%;
}
#page3{
  font-family: valorant;
  /* background: #400000;
  background: -webkit-radial-gradient(bottom right, #400000, #010101);
  background: -moz-radial-gradient(bottom right, #400000, #010101);
  background: radial-gradient(to top left, #400000, #010101); */
  color: white;
  height: 100%;
  width: 100%;
}
.hidden{
  display: none;
}